//custom font

//color variable
$color-default: #fff;

//path variable
$sass-base-path: "../..";
$sass-component-path: "$sass-base-path/bower_components";
$sass-client-path: "$sass-base-path/client";
$sass-sass-path: "$sass-client-path/sass";
$sass-font-path: "$sass-client-path/fonts";

$default-font-path: "../fonts";
$default-image-path: "../images";
 
//Import app common styles
@import "layout/margins.scss"

//Import app biz styles
